// intro-card
.intro-card {
  background: #ffffff1a;
  backdrop-filter: blur(3px);
  max-width: 526px;
  height: 400px;
  border-radius: 24px;
  padding: 80px 40px 0 40px;
  margin: 200px 0;
  @media (max-width: 1250px) {
    margin: 100px 0;
  }
  @include mobile {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: none;
    backdrop-filter: none;
  }
  .intro-card-title {
    color: #fff;
    font-weight: 700;
    font-size: $font-base * 1.75;
    margin-bottom: 8px;
    @include pad {
      font-size: $font-base * 1.5;
    }
    @include mobile {
      font-size: $font-base * 1.25;
      color: $primary-800;
      margin-top: 24px;
    }
  }
  .intro-card-text {
    color: #fff;
    margin-bottom: 24px;
    @include pad {
      font-size: $font-base * 0.8;
    }
    @include mobile {
      font-size: $font-base;
      color: #000;
      margin-bottom: 16px;
    }
  }
  .intro-card-badge {
    border-bottom: 1px solid #f1f1f1;
    @include pad {
      display: block;
      margin-bottom: 10px;
    }
    @include mobile {
      display: flex;
      border: 0;
    }
    li {
      border-radius: 16px;
      background: #fff;
      padding: 4px 12px;
      margin-right: 16px;
      margin-bottom: 40px;
      @media (max-width: 1330px) {
        margin-right: 5px;
      }
      @media (max-width: 1090px) {
        padding: 2px 8px;
      }
      @include pad {
        text-align: center;
        margin-bottom: 10px;
      }
      @include mobile {
        padding: 4px 12px;
        margin-right: 16px;
        margin-bottom: 20px;
        background: $primary-200;
        color: $primary-700;
      }
    }
  }
  .intro-card-link {
    display: block;
    margin: 40px 135px;
    background: #000;
    color: #fff;
    line-height: 1.8;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 5px;
    text-align: center;
    @media (max-width: 1330px) {
      margin: 40px 75px;
      font-size: 16px;
      padding: 16px 20px;
    }
    @media (max-width: 1090px) {
      padding: 10px 10px;
    }
    @include pad {
      margin: 0;
    }
    @include mobile {
      margin: 0 auto;
      width: 128px;
      padding: 8px 16px;
    }
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
.intro-card-mobile {
  @include mobile {
    margin-top: 400px;
  }
}
.intro-badge-mobile {
  @include mobile {
    margin-left: 55px;
  }
}

// section-title
.section-title {
  position: relative;
  font-size: $font-base * 2;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 80px;
  &::before {
    content: "";
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-lg.png?raw=true);
    width: 100px;
    height: 6px;
    position: absolute;
    top: 45%;
    left: 36%;
    @media (max-width: 1300px) {
      left: 33%;
    }
    @include pad {
      left: 26%;
    }
    @include mobile {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-sm.png?raw=true);
      width: 56px;
      left: 32%;
    }
    @media (max-width: 660px) {
      left: 25%;
    }
    @media (max-width: 490px) {
      left: 13%;
    }
  }
  &::after {
    content: "";
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-lg.png?raw=true);
    width: 100px;
    height: 6px;
    position: absolute;
    top: 45%;
    right: 36%;
    @media (max-width: 1300px) {
      right: 33%;
    }
    @include pad {
      right: 26%;
    }
    @include mobile {
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-sm.png?raw=true);
      width: 56px;
      right: 32%;
    }
    @media (max-width: 660px) {
      right: 25%;
    }
    @media (max-width: 490px) {
      right: 13%;
    }
  }
}

// featured-card
.featured-card {
  max-width: 416px;
  @include mobile {
    max-width: 90%;
    margin: 0 auto 100px auto;
  }
  .featured-card-img {
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .featured-card-title {
    font-size: $font-base * 1.25;
    font-weight: 700;
    margin-bottom: 16px;
    a {
      text-decoration: none;
      color: $primary-700;
    }
  }
  .featured-card-footer {
    display: flex;
    justify-content: space-between;
    .featured-footer-badge {
      border-radius: 16px;
      padding: 4px 12px;
      color: $primary-700;
      background: #f1f1f1;
    }
    .featured-footer-date {
      color: $primary-600;
    }
  }
}
.mobile-hide {
  @include mobile {
    display: none;
  }
}

// work-card
.work-card {
  width: 49%;
  @include mobile {
    width: 95%;
    margin: 0 auto;
  }
  .work-card-img {
    border-radius: 5px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  .work-card-title {
    display: inline;
    color: $primary-700;
    font-size: $font-base * 1.75;
    font-weight: 700;
    line-height: 2.1;
    margin-bottom: 8px;
    cursor: pointer;
    @include pad {
      font-size: $font-base * 1.3;
    }
  }
  .work-card-text {
    color: $primary-500;
    margin-bottom: 24px;
    @include pad {
      font-size: $font-base * 0.9;
    }
    @include mobile {
      font-size: $font-base;
      margin-bottom: 16px;
    }
  }
  .work-card-badge li {
    background: $primary-200;
    padding: 4px 12px;
    border-radius: 16px;
    color: $primary-700;
    margin: 0 16px 80px 0;
    @include pad {
      font-size: $font-base * 0.9;
    }
    @include mobile {
      font-size: $font-base;
      margin: 0 16px 48px 0;
    }
  }
}

// work-modal
.modal-content {
  border-radius: 16px;
  .work-modal-header {
    padding: 40px 56px 0px 56px;
  }
  .modal-close-btn {
    text-align: right;
    span {
      &:hover {
        font-weight: 800;
        cursor: pointer;
      }
    }
  }
  .work-modal-title {
    margin-top: 40px;
    font-size: $font-base * 1.75;
    font-weight: 700;
    color: $primary-700;
    line-height: 2.1;
    margin-bottom: 8px;
  }
  .work-modal-subtitle {
    color: $primary-500;
    margin-bottom: 40px;
    @include pad {
      margin-bottom: 24px;
    }
  }
  .work-modal-intro {
    margin-bottom: 40px;
    @include pad {
      flex-direction: column;
    }
    .modal-intro-text {
      max-width: 532px;
      color: $primary-800;
      @include pad {
        margin-bottom: 24px;
      }
    }
    .modal-intro-info {
      border-left: $primary-400 solid 1px;
      padding-left: 24px;
      color: $primary-600;
      @include pad {
        border-top: $primary-400 solid 1px;
        border-left: 0;
        padding: 24px 0 0 0;
        text-align: center;
      }
    }
  }
  .work-modal-content {
    background: $primary-100;
    border-radius: 0 0 16px 16px;
    padding: 80px 178px 24px 178px;
    @include pad {
      padding: 0;
    }
    img {
      max-width: 720px;
      border-radius: 20px;
      @include pad {
        max-width: 95%;
      }
    }
    .modal-content-title {
      margin: 24px 0 16px 0;
      color: $primary-800;
      font-size: $font-base * 1.5;
      font-weight: 700;
      line-height: 1.8;
      @include pad {
        margin: 16px 0 8px 0;
      }
    }
    .modal-content-text {
      margin-bottom: 56px;
      color: $primary-600;
      @include pad {
        text-align: left;
        padding: 0 10px;
      }
    }
  }
}

//process-item
.process-item {
  max-width: 655px;
  margin: 0 auto 64px auto;
  padding: 37.5px 32px;
  background: $primary-700;
  border: 1px solid $primary-500;
  position: relative;
  .process-arrow {
    color: $primary-600;
    font-size: 28px;
    position: absolute;
    bottom: -44px;
    left: 47%;
  }
  .process-item-num {
    font-family: "Tourney";
    font-size: $font-base * 4.5;
    color: $primary-500;
    margin-right: 32px;
  }
  .process-item-text {
    h4 {
      color: #fff;
      font-weight: 700;
      font-size: $font-base * 1.75;
      line-height: 2.1;
    }
    p {
      color: $primary-300;
      font-size: $font-base * 1.25;
      line-height: 1.8;
    }
  }
}

// price-list-item
.price-list-item {
  width: 32%;
  padding: 32px;
  box-shadow: 0px 4px 8px 0px #00000014;
  background: $primary-100;
  border-radius: 8px;
  @media (max-width: 1320px) {
    padding: 32px 0;
  }
  @include pad {
    flex-direction: column;
    position: relative;
  }
  @include mobile {
    flex-direction: row;
    position: static;
    width: 90%;
    margin: 0 auto 24px auto;
    padding: 24px 32px;
    justify-content: center;
  }
  img {
    width: 42px;
    margin-right: 8px;
  }
  h4 {
    font-size: $font-base * 1.75;
    color: $primary-600;
    font-weight: 600;
    margin-right: 65px;
    position: relative;
    @media (max-width: 1195px) {
      margin-right: 40px;
    }
    @include pad {
      margin: 0;
    }
    @include mobile {
      margin-right: 40px;
      font-size: $font-base * 1.25;
    }
    &::before {
      content: "";
      position: absolute;
      width: 41px;
      height: 1px;
      background: $primary-400;
      right: -50px;
      top: 46%;
      @media (max-width: 1195px) {
        width: 30px;
        right: -35px;
      }
      @include pad {
        display: none;
      }
      @include mobile {
        display: block;
      }
    }
  }
  p {
    font-size: $font-base * 2;
    color: $primary-800;
    font-weight: 700;
    margin-right: 8px;
    span {
      color: $primary-600;
      padding-top: 20px;
      font-size: $font-base;
    }
    @include pad {
      margin: 0;
    }
    @include mobile {
      font-size: $font-base * 1.25;
    }
  }
  span {
    color: $primary-600;
    padding-top: 20px;
    @include mobile {
      padding-top: 7px;
    }
  }
}

// qa-item
.qa-item {
  padding: 24px 0 12px 24px;
  width: 48%;
  border: 1px solid $primary-300;
  border-radius: 8px;
  margin-bottom: 24px;
  @include pad {
    width: 90%;
    margin: 0 auto 24px auto;
  }
  h4 {
    font-weight: 700;
    color: $primary-700;
    line-height: 1.8;
    font-size: $font-base * 1.5;
    margin-bottom: 16px;
  }
  p {
    font-size: $font-base * 1.25;
    color: $primary-600;
  }
}

// blog-card
.blog-card {
  margin-bottom: 64px;
  @include pad {
    flex-direction: column;
  }
  @include mobile {
    margin-bottom: 40px;
  }
  img {
    width: 306px;
    height: 220px;
    border-radius: 8px;
    margin-right: 16px;
    object-fit: cover;
    @include pad {
      margin: 0 auto 16px auto;
    }
    @include mobile {
      width: 95%;
    }
  }
  .blog-info {
    margin-bottom: 16px;
    @include pad {
      justify-content: center;
    }
    @include mobile {
      justify-content: space-between;
    }
    .blog-date {
      color: $primary-600;
      margin-right: 16px;
      @include pad {
        margin-right: 100px;
      }
    }
    .blog-badge {
      background: $primary-200;
      color: $primary-700;
      padding: 4px 12px;
      border-radius: 16px;
    }
  }
  .blog-title {
    font-size: $font-base * 1.5;
    color: $primary-700;
    text-decoration: none;
    font-weight: 600;
  }
  .blog-text {
    margin-top: 16px;
    color: $primary-700;
  }
  @include pad {
    padding-bottom: 50px;
    border-bottom: 1px solid $primary-300;
  }
  @include mobile {
    padding: 0;
    border: 0;
  }
}

// blog-article
.blog-article-main {
  padding-right: 133px;
  @include mobile {
    padding: 0;
  }
  .article-info {
    color: $primary-500;
    margin-bottom: 40px;
    @include mobile {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }
  .article-title {
    font-size: $font-base * 2;
    color: $primary-700;
    font-weight: 700;
    margin-bottom: 24px;
    @include mobile {
      font-size: $font-base * 1.5;
      margin-bottom: 16px;
    }
  }
  .article-subtitle {
    font-size: $font-base * 1.5;
    color: $primary-700;
    margin-bottom: 64px;
    @include mobile {
      font-size: $font-base;
      margin-bottom: 24px;
    }
  }
  .article-body {
    h4 {
      font-size: $font-base * 1.5;
      font-weight: 700;
      color: $primary-700;
      margin-bottom: 16px;
    }
    p {
      font-size: $font-base * 1.25;
      line-height: 1.8;
      color: $primary-700;
      margin-bottom: 40px;
    }
  }
  .article-footer {
    p {
      font-size: $font-base;
      color: $primary-700;
      margin-bottom: 80px;
      @include mobile {
        margin-bottom: 40px;
      }
    }
  }
}

// article-img-card
.article-body {
  .article-img-card {
    width: 48%;
    margin: 0 auto;
    @include mobile {
      width: 95%;
    }
    .article-img-text {
      color: $primary-600;
      margin-bottom: 24px;
    }
  }
}
