.d-flex {
  display: flex;
}
.flex-dc {
  flex-direction: column;
}
.justify-content-sb {
  justify-content: space-between;
}
.justify-content-c {
  justify-content: center;
}
.align-items-c {
  align-items: center;
}
.flex-w {
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.bg-dark {
  background: #000;
}
.bg-white {
  background: #fff;
}
.pt-120 {
  padding-top: 120px;
}
