// Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../css/helpers/bootstrap-variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/modal";

// reset
@import "_reset.scss";

// variables

// mixin
@mixin h1-img {
  display: block;
  width: 90px;
  height: 40px;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
// rwd

// components
// pill-

// utilities
.d-flex {
  display: flex;
}
.justify-content-sb {
  justify-content: space-between;
}
// base
*,
*:before,
*:after {
  box-sizing: border-box;
}

// layout
.navbar{
  a{
    @include h1-img
  }
}

// main-index
